h1 {
    color:rgb(189, 105, 105);
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}

/* * {
    border: solid;
} */

/* .header * {
    border: solid 
} */

.menue {
    margin-right: 60px;
    padding-right: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: large;
}

.header {
    background-color : rgb(235, 195, 195);
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

h2,p {
    text-align: center;
    color:rgb(255, 91, 91);
    font-size: 25px
}

body {
    background-color: #8f8f8f;  
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {
    color: white
}

a:visited {
    color: rgb(74, 136, 74)
}

.item {
    position: relative;
}

.item p {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img {
    opacity: 0.33;
}